cart-drawer.cart-draw-position-home {
    top: 90px;
}
cart-drawer.cart-draw-position {
    top: 56px;
}
cart-drawer .cart-drawer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
cart-drawer .cart-drawer .drawer__inner {
    width: 50%;
}
cart-drawer .header-info .cart-header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}
cart-drawer .header-info .cart-header-info .cart-header {
    margin: 0;
    font-size: 20px;
    font-family: Semplicita Pro;
    letter-spacing: 0.025em;
    line-height: 27px;
}
cart-drawer .header-info .cart-header-info .items-count {
    font-size: 14px;
    letter-spacing: 0.025em;
    line-height: 19px;
}
cart-drawer .header-info .free-shopping-btn {
    height: 33px;
    background: #FCDCCB;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 25px;
}
cart-drawer .header-info .free-shopping-btn a {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 12px;
    line-height: 16px;
    color: #1C1727;
    text-decoration: none;
}
.drawer__contents table tbody {
    border-top: 1px solid #A39D9B;
    border-bottom: 1px solid #A39D9B;
}
.drawer__contents table tbody tr {
    display: flex !important;
    justify-content: space-between;
}
.drawer__contents table tbody tr .cart-media-with-info {
    display: flex;
    gap: 20px;
}
.drawer__contents table tbody tr .cart-media-with-info .cart-item-info__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-media-with-info .cart-item-info__detail .cart-item__quantity {
    padding: 0;
}
.cart-item-price-remove-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-item-price-remove-button cart-remove-button {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.cart-item-price-remove-button cart-remove-button button {
    min-width: 1.5rem;
    min-height: 1.5rem;
    height: 15px;
}

.cart-item-price-remove-button .cart-item__totals {
    padding-bottom: 5px;
}
cart-drawer .cart__ctas button {
    color: white;
    height: 45px;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Hiragino Kaku Gothic ProN';
    margin-top: 37px;
    margin-bottom: 75px;
    border: 0;
    background: linear-gradient(90deg, rgba(236,175,142,1) 0%, rgba(228,134,94,1) 50%, rgba(244,182,83,1) 100%);
}
cart-drawer .cart__ctas button::after {
    box-shadow: none;
}

.upsell-product-detail--informaion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px;
}
.upsell-productitems .upsell-product-item {
    padding: 14px 13px;
    border: 1px solid #707070;
    display: flex;
    gap: 13px;
}
.upsell-product-detail--img {
    display: flex;
}

.upsell-product--title,
.upsell-product--price {
    font-size: 12px;
    line-height: 20px;
    font-family: Hiragino Kaku Gothic ProN;
}
.upsell-productitems  {
    padding: 40px 0;
    margin-bottom: 45px;
}
.upsell-product-items--title {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}
.cart-drawer .drawer__inner {
    padding: 0 5rem;
}
.upsell-productitems .swiper-wrapper {
    padding-top: 5px;
}

@media (max-width: 768px) {
    cart-drawer .cart-drawer .drawer__inner {
        width: 100%;
        max-width: 100vw;
        padding: 0 2.5rem;
        overflow: scroll;
    }
    cart-drawer .cart-drawer {
        height: 100vh;
    }
    cart-drawer.cart-draw-position-home,
    cart-drawer.cart-draw-position {
        top: 0;
    }
    cart-drawer-items {
        overflow: unset !important;
    }
}