.c-contact {
    padding: 0 50px;
    width: 50%;
}
.c-contact .title {
    font-family: Semplicita Pro;
    font-size: 30px;
    letter-spacing: 0.025em;
    line-height: 40px;
    margin-bottom: 70px;
}
.c-contact button {
    width: 100%;
    background: linear-gradient(90deg, rgba(236, 175, 142, 1) 0%, rgba(228, 134, 94, 1) 50%, rgba(244, 182, 83, 1) 100%);
    height: 45px;
    font-family: Hiragino Kaku Gothic ProN;
    color: white;
    font-size: 14px;
    line-height: 30px;
    margin: 35px 0 0;
}
.c-contact button::after {
    box-shadow: none;
}
.c-contact label {
    font-size: 14px;
    line-height: 30px;
}
.c-contact .field__input {
    height: 40px;
    border: 1px solid #666666;
    border-radius: 5px;
}
.c-contact .field textarea {
    height: 180px;
    border: 1px solid #666666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.c-contact .field::after,
.c-contact .field:hover
 {
    box-shadow: none !important;
}
.c-contact .field .field__label {
    left: 15px;
}
.c-contact h3 {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 12px;
}
.c-contact .field {
    margin-bottom: 45px;
}
.c-contact .contact__fields {
    width: 80%;
    gap: 27px;
}
.c-contact .field .field__input:focus {
    padding-left: 20px;
    padding-bottom: 20px;
}
@media (max-width: 768px) {
    .c-contact {
        width: 100%;
        padding: 0 25px;
    }
    .c-contact .contact__fields {
        width: 100%;
        display: flex;
    }
}