.header .menu-About {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.header .menu-About a,
summary span {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.025em;
    text-decoration: none;    
    color: black;
}
.header__inline-menu .list-menu li a {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}
.header__inline-menu .list-menu li a span {
    text-decoration: none;
}
account-icon {
    display: flex;
}
.header__icons .cart-count-bubble {
    background: linear-gradient(90deg, rgba(227, 155, 146, 1) 0%, rgba(242, 146, 95, 1) 100%);
    width: 11px;
    height: 11px;
    bottom: 20px;
    left: 25px;
}
.header__icons .cart-count-bubble span {
    color: white;
}

.header-draw-with-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-draw-with-search summary {
    display: flex;
    align-items: center;
}
.header-draw-with-search .mobile-header-search {
    display: none;
}
.header__search summary span {
    padding: 0;
}
.header__search summary {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-draw-with-search .header__search summary {
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .header .menu-About {
        display: none;
    }
    .desktop-header-search {
        display: none;
    }
    .header-draw-with-search .mobile-header-search {
        display: flex;
    }
}