.menu-drawer__inner-container .footer-block__details-content {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px 25px;
    row-gap: 13px;
}
.menu-drawer__inner-container .footer-block__details-content a {
    font-size: 12px;
    line-height: 16px;
}
.header__icon span {
    position: absolute;
    z-index: 4;
}
#menu-drawer {
    height: 100vh !important;
}

.menu-drawer__inner-container .header__heading-logo-wrapper img{
    width: 100%;
    padding-top: 40px;
}

.accordion {
    cursor: pointer;
    position: relative;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    height: 100%;
    transition:height 2s;
    -webkit-transition:height 2s;
    -moz-transition:height 2s;
    -ms-transition:height 2s;
    -o-transition:height 2s;
}
  
   
  .panel {
    display: none;
    background-color: #EDEBE7;
    overflow: hidden;
    margin-left: 30px;
    border-left: 1px solid black;
  }
  .panel .menu-drawer__menu-item {
    padding: 4px 1.35rem;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.025em;
  }

  .menu-drawer__inner-container .footer-block__details-content {
    margin: 0;
    padding-bottom: 0;
  }
  .menu-drawer__inner-container .menu-drawer__navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 36px);
  }
  .menu-drawer__inner-container  {
      background: #EDEBE7;
  }
  .menu-drawer__menu-item {
    align-items: center;
    gap: 16.79px;
  }
  /* from plus to minus */
.plusminus {
    position: relative;
  }
.plusminus span:nth-child(1) {
  display: block;
  position: absolute;
  width: 12.29px;
  height: 1px;
  background: black;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}
.plusminus span:nth-child(2) {
  display: block;
  position: absolute;
  width: 12.29px;
  height: 1px;
  background: black;
  transform: rotate(90deg);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.tochangeminus .plusminus span:nth-child(2) {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}