.menu-drawer__inner-container .footer-block__details-content {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px 25px;
    row-gap: 13px;
}
.menu-drawer__inner-container .footer-block__details-content a {
    font-size: 12px;
    line-height: 16px;
}
.header__icon span {
    position: absolute;
    z-index: 4;
    padding-left: 20px;
}
#menu-drawer {
    height: 100vh !important;
}

.menu-drawer__inner-container .header__heading-logo-wrapper img{
    width: 100%;
    padding-top: 40px;
}

.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    height: 100%;
    transition:height 2s;
    -webkit-transition:height 2s;
    -moz-transition:height 2s;
    -ms-transition:height 2s;
    -o-transition:height 2s;
}
  
   
  .panel {
    display: none;
    background-color: white;
    overflow: hidden;
    margin-left: 20px;
    border-left: 2px solid black;
  }
  .panel .menu-drawer__menu-item {
    padding: 4px 2.5rem;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.025em;
  }

  .menu-drawer__inner-container .footer-block__details-content {
    margin: 0;
    padding-bottom: 0;
  }
  .menu-drawer__inner-container .menu-drawer__navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 36px);
  }
  .menu-drawer__inner-container  {
      background: #EDEBE7;
  }