.product__title h1 {
    font-size: 20px;
    line-height: 20px;
}
.main-product .price-item.price-item--regular {
    font-size: 17px;
    line-height: 22px;
}

.main-product .product-price-width-tax {
    display: flex;
    gap: 17px;
    align-items: center;

}
.main-product .product__tax {
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;
    height: 32px;
    margin: 0;
}
.quantity__label {
    display: none;
}
.main-product .price span.price__badge-sold-out {
    align-items: center;
    background: #D0CAC8;
    margin: 0;
    display: flex;
    padding: 1px 17px;
    height: 19px;
}
.product-form__buttons button {
    min-height: 45px !important;
}
.main-product product-form {
    margin: 58px 0 66px 0 !important;
}
.main-text--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px dotted #A39D9B;
}
.main-text--title .main-text {
    margin: 0;
    font-size: 14px;
    font-family: Hiragino Kaku Gothic ProN;
    line-height: 20px;
}
.main-text--content p {
    font-size: 14px;
    font-family: Hiragino Kaku Gothic ProN;
    line-height: 20px;
    margin: 35px 0;
}
.main-text-btns {
    display: flex;
    align-items: center;
    gap: 11px;
}
.main-text-btns .main-text--btn__1,
.main-text-btns .main-text--btn__2 {
    border: 1px solid #A39D9B;
    border-radius: 50px;
    font-size: 10px;
    line-height: 20px;
    padding: 4px 10px 3px 9px;
    text-decoration: none;
    color: #766F6D;
}
.detail-header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.detail-header h3 {
    font-size: 12px;
    line-height: 30px;
}
.detail-header p,
.brand p {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 14px;
    line-height: 30px;
}
.about-rich-text-border-left {
    border-left: 1px solid transparent;
    border-image: linear-gradient(0turn, rgba(255,255,255), rgba(153, 153, 153), rgba(255, 255, 255));
    border-image-slice: 1;
    margin-left: 10px;
}
.about-rich-text-border-left p {
    padding-left: 20px;
    margin: 0;
}
.detail-border-bottom--dotted {
    border-bottom: 1px dotted #A39D9B;
}
.product-description {
    margin-bottom: 83px;
}
.how-to-it {
    margin-bottom: 88px;
}
.meterial {
    margin-bottom: 80px;
}
.size {
    margin-bottom: 78px;
}
.brand .brand-detail {
    display: flex;
    align-items: center;
    gap: 75px;
}
.brand .brand-detail img {
    width: 300px;
}
.brand .brand-detail a {
    padding-left: 25px;
    border-left: 1px solid transparent;
    border-image: linear-gradient(0turn, rgba(255,255,255), rgba(153, 153, 153), rgba(255, 255, 255));
    border-image-slice: 1;
}
.brand .detail-header h3 {
    margin: 0;
}
.brand {
    padding-top: 27px;
    padding-bottom: 45px;
    border-top: 1px dotted #A39D9B;
    border-bottom: 1px dotted #A39D9B;
}
.product-description {
    padding-top: 100px;
}
.product-form__buttons button:hover {
    background: linear-gradient(90deg, rgba(236, 175, 142, 1) 0%, rgba(228, 134, 94, 1) 51%, rgba(244, 182, 83, 1) 100%);
    color: white;
    border: 0;
}