.multi-text .multi-container {
    padding: 0 50px;
}
.multi-text .multi-container h1 {
    margin: 68px 0;
}
.multi-text .multi-container h3 {
    font-family: Hiragino Kaku Gothic ProN;
    border-bottom: 1px solid #707070;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 8px;
}
.multi-text .multi-container p {
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 14px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .multi-text .multi-container h1 {
        margin: 45px 0;
        font-family: Semplicita Pro;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.025em;
    }
    .multi-text .multi-container h3 {
        font-size: 14px;
    }
    .multi-text .multi-container p {
        font-size: 12px;
        margin-top: 24px;
        margin-bottom: 66px;
    }
}
@media (max-width: 425px) {
    .multi-text .multi-container {
        padding: 0 25px;
    }
}