.swiper.product-media-gallery ul li {
    aspect-ratio: 1;
}
.product-media-container.constrain-height.media-fit-contain {
    width: 100% !important;
}
li .thumbnail {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}