.collection__title h2 {
    font-size: 20px;
}
.full-unstyled-link {
    font-size: 14px;
}
.price__regular .price-item--regular {
    font-size: 16px;
}
.card--standard>.card__content .card__information {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}